{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}

    {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.level == 40 %}alert-danger{% else %} alert-success {% endif %} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide()" aria-label="Close">X</button>
                  <center>{{ message }}</center>
                </div>
            {% endfor %}
    {% endif %}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
                    <footer>
        {% static_placeholder "footer" %}
    </footer>

					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form method="POST" action="{% url 'account_login' %}">
                             {% csrf_token %}
                            {{message}}
                            {{ auth_form.username }}<br>{{ auth_form.password }}
{#                                <input type="hidden" name="next" value="{{ request.GET.next }}" />#}
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form--><br>
                    <a href="{% url 'password_reset' %}">Forgot your password</a>
                    <p><a href="{% url 'signup' %}">Not an User! Sign up here.</a></p>
				</div>
			</div>
		</div>
	</section><!--/form-->

{% endblock %}