{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load shop_tags %}
{% block content %}
<h1>
   <center><u>Order Details{{context}}</u></center>
</h1>
<section id="cart_items">
   <div class="container">
      <div class="breadcrumbs">
         <ol class="breadcrumb">
         </ol>
      </div>
      <!--/breadcrums-->
      <div class="shopper-informations">
         <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-5 clearfix">
               <div class="bill-to">
                  <p><b><u>Billing Address:</u></b><br>
                     {% for list in list_b %}
                     {{ list }}
                  </p>
                  {% endfor %}
                  <!--<p>{{order.billing_address_text}}</p>-->
                  <p><b><u>Shipping Address:</u></b><br>
                     {% for list in list_s %}
                     {{ list }}
                  </p>
                  {% endfor %}
                  <!--{{order.shipping_address_text}}</p>-->
                  <div class="form-two">
                  </div>
               </div>
            </div>
            <div class="col-sm-4">
               <div class="order-message">
                  <p>Shipping Order</p>
                  <textarea name="message"  placeholder="Notes about your order, Special Notes for Delivery" rows="16"></textarea>
               </div>
            </div>
         </div>
      </div>
      <div class="review-payment">
         <h2><b><u>Review & Payment</u></b></h2>
      </div>
      <div class="table-responsive cart_info">
         <table class="table table-condensed">
            <thead>
               <tr class="cart_menu">
                  <td class="image">Image</td>
                  <td class="description">Item</td>
                  <td class="price">Price</td>
                  <td class="quantity">Quantity</td>
                  <td class="total">Total</td>
                  <td></td>
               </tr>
            </thead>
            <tbody>
               {% for order_item in order_items %}
               <tr>
                  <td class="cart_product">
                     <a href=""><img src="/static/{{ order_item.product.image }}" alt=""></a>
                  </td>
                  <td class="cart_description">
                     <h4><a href="">{{ order_item.product_name }}</a></h4>
                     <p>Web ID: {{ order_item.product_id }}</p>
                  </td>
                  <td class="cart_price">
                     <p>{{ order_item.unit_price }}</p>
                  </td>
                  <td class="cart_quantity">
                     <div class="class_quantity_button">
                        <p>{{ order_item.quantity }}</p>
                     </div>
                  </td>
                  <td class="cart_total">
                     <p class="cart_total_price">{{ order_item.line_total }}</p>
                  </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      <div class="payment-options">
      </div>
   </div>
</section>
<!--/#cart_items-->
<section id="do_action">
   <div class="container">
      <div class="row">
         <div class="col-sm-6">
         </div>
         <div class="col-sm-6">
            <div class="total_area">
               <ul>
                  <li>Order Sub Total <span>{{ order.order_subtotal }}</span></li>
                  <li>Eco Tax <span>$0</span></li>
                  <li>Shipping Cost <span>Free</span></li>
                  <li>Sum Total <span>{{ order.order_total }}</span></li>
                  <a class="btn btn-primary" href="/shop/pay/braintree" >Continue</a>
               </ul>
               <!--<a class="btn btn-primary element.style" href="/shop/pay/braintree" >Continue</a>-->
            </div>
         </div>
      </div>
   </div>
</section>
<!--/#do_action-->
{% endblock %}